.weekContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
}

.dayContainer{
    color: var(--heading-color);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 15px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.date{
    font-size: 20px;
    font-weight: 500;
    font-weight: bold;
}

#Sun{
    padding: 15px 15px 15px 0;
}

#Mon{
    background-color: var(--calendar-highlight);
}

.time{
    padding: 6px;
    border-radius: 6px;
    font-size: 13px;
}

#Monandtime2{
    background-color: var(--highlight-bg);
    color: var(--app-bg);
}

#Wedandtime3, #Friandtime2, #Satandtime2{
    background-color: var(--highlight-bg);
    color: var(--app-bg);
    opacity: 0.5;
}

@media (max-width: 500px){
    .weekContainer{
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .dayContainer{
        width: 70%;
    }

    #Sun, #Tues, #Thurs{
        display: none;
    }

    #Mon, #Wed, #Fri, #Sat{
        width: 50%;
        border-radius: 20px;
    }
}


