.floatContainer{
    height: 40px;
    width: 23%;
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--highlight-bg);
    border-radius: 20px;
}

.float-image{
    width: 20px;
    height: 20px;
}

.float-details{
    font-size: 13px;
    color: var(--app-bg);
}