.app{
    display: flex;
    box-sizing: border-box;
    gap: 4px;
    height: 95%;
    width: 95%;
    background-color: var(--app-bg);
    border-radius: 30px;
    padding: 10px;
    position: relative;
    overflow: auto;
}

@media(min-width: 1626px) {
        .app {
            max-width: 1626px;
            margin: auto auto;
        }
}

@media (max-width: 850px){
    .app{
        padding: 2%;
    }
}
